@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body {
    box-sizing: border-box;
    max-width: 1600px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    width:100%;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
} 

.background-wrapper {
    min-height: 100rem;
    max-width: 160rem;
    margin: 0 auto;
    padding: 0;
    background: url(./image/backgroun.png);
    background-size: 100rem contain;
    background-repeat: no-repeat;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}

/* ===== General Title ===== */

.general-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    height: 100%;
    text-align: center;
}

.general-title-text{
    font-size: 4rem;
    max-width: 57rem;
    margin-bottom: 1.5rem;
}

.general-title-paragraph{
    line-height: 1.5;
    font-size: 1.5rem;
}

/* ===== Arrow ===== */

.arrow-up{
    display: none;
    position: fixed;
    right: 2%;
    bottom: 3%;
    opacity: .4;
}
.arrow-up:hover{
    opacity: 1;
}

.arrow-up img{
    width: 5rem;
    height: 5rem;
}

.arrow-up.show{
    display:block;
}


/* ===== Header ===== */

.header {
    min-height: 100rem;
}

.header-nav {
    max-height: 5.7rem;
    margin-top: 9.2rem;
    margin-bottom: 4.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-items-menu {
   font-size: 2rem;
}

.nav-items-menu__list {
    display: flex;
    flex-wrap: nowrap;
}

.nav-items-menu__list li a:hover {
    border-bottom: 3px solid #5435ff;
}

.nav-items-menu__link {
    margin-right: 3.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.burger-nav,
.burger-icon,
.header-top-button__adaptive {
    display:none;
}

.nav-button {
    padding-left: 3.6rem;
}

.nav-button__active {
    min-width: 17rem;
    border-radius: 2.8rem;
    min-height: 5.7rem;
    max-width: 17rem;
    background-color: #2500f9;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    margin-right: 1.5rem;
}

.nav-burger{
    position: fixed;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100%;
    left: 0;
    background-color: #eff3f7;
    transition:all .4s ease-in-out;
}

.nav-burger__logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-burger-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    min-width: 20rem;
    min-height: 8rem;
}
.nav-burger-btn__active{
    border-radius: 2.8rem;
    background-color: #5435ff;
    border: none;
    max-height: 5.7rem;
    max-width: 17rem;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
}
.nav-burger-menu__list {
    padding: 0;
}
.nav-burger-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.nav-burger-menu__link:hover {
    color:rgb(197, 197, 197);
}

/* ===== header content ===== */

.header-content {
    width: 100%;
    height: 100%;
}

.header-content__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-best-app {
    max-width: 60rem;
    min-height: 36.7rem;
    height: 100%;
}

.header-best-app img{
    max-width: 36rem;
}

.header-best-app__title {
    max-width: 60rem;
    font-size: 6rem;
    margin-top: 2.7rem;
    margin-bottom: 2.3rem;
    letter-spacing: 3px;
}

.header-best-app__text {
    font-size: 2rem;
}

.header-best-app__video-link {
    min-width: 19rem;
    border-radius: 2.8rem;
    max-height: 5.7rem;
    max-width: 17rem;
    font-size: 2rem;
    background-color: #fff;
    border: none;
    color: #2500f9;
    cursor: pointer;
}


.open {
    top:0;
}
.close-icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    outline: none;
    width: 5rem;
    height: 5rem;
}
.close-icon i {
    font-size: 4rem;
}



/* ===== Choose App ===== */ 

.choose-app__row {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.choose-app-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 97rem;
    margin-top: 9rem;
}

.option {
    max-width: 26rem;
    max-height: 23rem;
    text-align: center;
    margin: 2rem 2rem 7rem 2rem;
    font-size: 2rem;
}

 /* ===== Footer ===== */ 

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer-container-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    max-width: 93.8rem;
    margin-top: 6.7rem;
    margin-bottom: 4rem;
}

.faq-items {
    display: block;
    background-color: #f5f7fa;
    width: 100%;
    height:100%;
    min-height: 6.3rem;
    border-radius: 8px;
    padding-left: 5rem;
    padding-right: 3.8rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.faq-items__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 6.4rem;
    height: auto;
    line-height: 1.25rem;
    position: relative;
    cursor: pointer;
}

.faq-items__header:after {
    content: '\002B';
    font-size: 3rem;
    transition: all .2s ease-out;
}

.faq-items__header.open::after {
    content: '\002B';
    font-size: 3rem;
    transition: all .2s ease-out;
    transform: rotate(45deg)
}

.faq-items__title{
    font-size: 1.5rem;
    margin: 0;
}

.faq-items__answer {
    max-height: 0;
    max-width: 80rem;
    font-size: 1.4rem;
    line-height: 2;
    overflow: hidden;
    position: relative;
    background: #eff3f7; 
    transition: max-height 0.2s ease-out;
    border-left: 3px solid  #5435ff;
    padding: 0 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
    transition: height .3s ease-out;
}

.faq-items__answer p {
    margin: 0;
}

.faq-items__header.open + .faq-items__answer{
    display: block;
    overflow: visible;
    min-height: 80px;  
    width: auto; 
    max-height: 100%;
    padding: 5px;
    transition: height .3s ease-out;
}

/* ===================== Media screen ===================== */
@media screen and (min-width: 1040px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 1040px) {
    html{
        font-size: 9px;
    }
    .header-best-app {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-best-app__text {
        text-align: justify;
    }
    .nav-button__active {
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 780px) {
    html{
        font-size: 8px;
    }
    .header-top{
        margin-top: 8rem;
    }
    .header-best-app {
        align-items: center;
    }
    .nav-items-menu__link {
        margin-right: 2rem;
        font-size: 1.5rem;
    }
    .faq-items__title{
        line-height: 1.5;
    }
    .header-logo__image img{
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
    .nav-items-menu{
        display: none;
    }
    .burger-icon {
        display: flex;
        font-size: 4rem;
        color:#000;
    }
    .header-content__row{
        flex-direction: column;
    }
    .header-content{
      text-align: center;
    }
    .header-logo__image img{
        margin: 0 auto;
        width: 60%;
    }
    
    .nav-items-menu__link {
        margin-right: 1rem;
        font-size: 1.3rem;
    }
    .nav-burger,
    .burger-icon {
    display:flex;
}
}


@media screen and (max-width: 480px) {
    
    .header-top {
        height: 100%;
        margin-top: 45px;
        margin-bottom: 25px;
    }
    .header-nav{
        width: 100%;
    }
    .nav-items-menu{
        display: none;
    }
    .burger-icon {
        display: flex;
        font-size: 4rem;
        color:#000;
    }

    /* =========== Header ============== */

    .nav-button__active {
      display: none;
    }
    .header-content__row {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header-best-app{
        text-align: center;
    }
    .header-logo__image img{
        margin: 0 auto;
        width: 100%;
    }
    .header-best-app img{
        width:100%;
        height: auto;
        text-align: center;
    }
    .header-best-app__title {
        height: auto;
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 2.3rem;
        letter-spacing: 3px;
    }
    .header-top-button__adaptive{
        display: block;
        margin: 0 auto;
        min-width: 170px;
        border-radius: 28px;
        min-height: 57px;
        max-width: 170px;
        font-size: 2rem;
        background-color: #2500f9;
        color: #fff;
        border: none;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .header-best-app__video-link {
        min-width: 19rem;
        height: 57px;
        max-width: 170px;
        border-radius: 28px;
        font-size: 2rem;
        border: none;
        color: #2500f9;
        cursor: pointer;
    }
    /* ======== Choose app ======== */
    .choose-app{
        height: auto;
        padding-bottom: 20px;
    }
    .option {
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    /* ======== footer ========== */
    .faq-items {
        padding-left: 30px;
        padding-right: 18px;
        margin-bottom: 10px;
        height: auto;
    }
    .faq-items__title{
        font-size: 1.3rem;
        padding-right: 5px;
    }
    
    .faq-items__answer {
        display: block;
        max-width: 230px;
        min-width: 100px;
        margin-bottom: 5px;
    }
    .footer-container-faq {
        margin-top: 3.7rem;
        margin-bottom: 4rem;
        height: 100%;
    }
}


@media screen and (max-width: 320px) {
    html {
        font-size: 8px;
    }
    .header-top{
        margin-top: 20px;
    }
    .header-best-app__video-link {
        min-width: 19rem;
    }
    .nav-item__logo{
        margin: 0 auto;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-button{
        display: none;
    }
    .header-content__row {
        height:100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-top-button__adaptive, 
    .header-best-app__video-link,
    .general-title-text {
        font-size: 2rem;
    }
    
}